@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";

$light-color: #fff;
$accent-color: #65e496;

h1, h2, h3, p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto Slab', serif; 
}

.page-main {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: $light-color;
    padding-bottom: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 38px;
    margin-bottom: 178px;
    &__logo {
        display: block;
        width: 137px;
        height: 28px;
        background-image: url(../img/logo.svg);
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        font-family: 'Open Sans', serif;
        &__item {
            margin-left: 22px;
            padding-bottom: 5px;
            border-bottom: 3px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 3px solid $accent-color;
            }
        }
        &__item.active {
            border-bottom: 3px solid $accent-color;
        }
        &__link {
            color: #fff;
            text-decoration: none;
            letter-spacing: 0.5px;
        }
    }  
}

.wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.block-text {
    flex-basis: calc(93% - 500px);
    &__title {
        font-size: 48px;
        font-weight: 700;
        letter-spacing: 1.8px;
        margin-bottom: 40px;
    &__name-top {
        margin-top: 16px;
        margin-left: 0;
    }
    &__name {
        font-family: 'Open Sans', serif;
        font-size: 18px;
        letter-spacing: 0.7px;
        margin-bottom: 30px;
    }
        span {
            display: block;
            color: $accent-color;
            font-size: 18px;
            margin-top: 9px;
            letter-spacing: 0.9px;
        }
    }
    &__description {
        font-family: 'Open Sans', serif;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin-bottom: 24px;
    }
    &__btn {
        display: block;
        background-color: $accent-color;
        color: $light-color;
        text-decoration: none;
        max-width: 250px;
        border-radius: 3px;
        text-align: center;
        margin-top: 48px;
        padding: 14px 0;
        letter-spacing: 0.7px;
        margin-bottom: 19px;
    }
        small {
            font-family: 'Open Sans', cursive;
            font-style: italic;
        }
}

.block-book {
    display: flex;
    justify-content: space-between;
    &-demo {
        display: block;
        width: 447px;
        height: 643px;
        background-image: url(../img/book.svg);
        background-repeat: no-repeat;
        flex-basis: 447px;
    }
}

/*PAGE SECOND*/
.page-second {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 161px;
}

.block-author {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.block-ava {
    position: relative;
    &__svg {
        position: absolute;
        right: 0;
        z-index: -1;
    }
    &__img {
        margin-top: 47px;
        margin-right: 44px;
    }
}

.block-counter {
    display: flex;
    justify-content: space-around;
    margin-top: 152px;
    p {
        font-family: 'Open Sans', serif;
        text-align: center;
        font-size: 18px;
        span {
            font-family: 'Roboto Slab', serif;
            display: block;
            font-weight: 100;
            font-size: 80px;
            color: $accent-color;
            margin-bottom: 12px;
        }
    }
}